# ビルドツール
setuptools==68.2.2
wheel==0.40.0
pip==23.2.1

# Web Framework
flask==3.1.2
flask-cors==4.0.0
gunicorn==21.2.0
python-dotenv==1.0.0

# Data Processing
numpy==1.20.3
scipy==1.6.3
pandas==1.2.5

# Google API
google-api-python-client==2.100.0
google-auth==2.23.0
google-auth-httplib2==0.1.1
google-auth-oauthlib==1.0.0

# その他
requests==2.26.0
